.post {
    display: flex;
    flex-direction: column;
  }
  
  .post-image {
    border-radius: 0.5rem;
    width: 100%;
    height: 14rem;
    object-fit: cover;
  }
  
  .post-tag {
    color: #666;
    width: fit-content;
    border-bottom: 0.125rem solid #666;
  }
  