.backdrop {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: #000;
    opacity: 0.25;
    cursor: pointer;
    animation: fadein 400ms;
  }
  
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.25;
    }
  }