.navbar {
  background-color: #242933;
}

.navbar a {
  color: #a6adba;
  text-decoration: none;
  font-size: 1.25rem;
  flex-direction: column;
  justify-content: center;
  height: 5rem;
  border-bottom: 0.5rem solid #242933;
  display: none;
}

.navbar a:hover {
  border-bottom: 0.5rem solid #a6adba;
}

.container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: auto;
  width: 90%;
}

.hamburger {
  color: #a6adba;
  cursor: pointer;
}

@media (min-width: 40rem) {
  .navbar a {
    display: flex;
  }

  .container {
    width: 75%;
    max-width: 60rem;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
  }
}
