.form {
  margin-top: 1.75rem;
}

.titleInput,
.textInput,
.tagInput,
.imageInput {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 2;
  background-color: #f3f4f5;
  border: 0.125rem solid #f3f4f5;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out;
  width: 100%;
  margin-bottom: 2rem;
}

.image-label {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.submit-button {
  width: 25%;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}
