@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #2a303c;
  color: #a6adba;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

input:focus {
  outline: none;
}

textarea {
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}
