@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #2a303c;
  color: #a6adba;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

input:focus {
  outline: none;
}

.container {
  margin-top: 1.75rem;
  margin: auto;
  width: 90%;
}

@media (min-width: 40rem) {
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}